@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App{
    font-family: 'Noto Sans', sans-serif, Arial, Helvetica;
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}